@page "/message"
@page "/message/{recipient}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Onebrb.Shared.ViewModels.Message;
@attribute [Authorize]
@using System.Net.Http
@inject HttpClient Http

@if (!string.IsNullOrWhiteSpace(Recipient))
{
    <div class="message-form">
        <EditForm Model="@viewModel" OnValidSubmit="SendMessage">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <h3>Messaging @Recipient</h3>

            <input type="hidden" @bind="@Recipient" />
            <div class="form-group">
                Title:
                <InputText type="text" @bind-Value="@viewModel.Title" class="form-control"></InputText>
            </div>
            <div class="form-group">
                Text:
                <InputTextArea @bind-Value="@viewModel.Title" class="form-control"></InputTextArea>
            </div>
            <button class="btn btn-success"><i class="fas fa-paper-plane fas--space-right"></i>Send</button>
            <a class="btn btn-secondary"><i class="fas fa-window-close fas--space-right"></i>Cancel</a>
        </EditForm>
    </div>
}
else
{
    <p>All messages</p>
}

@if (response != null && response.IsSuccessStatusCode)
{
    <p>Success!</p>
}

@code {
    private CreateMessageViewModel viewModel = new CreateMessageViewModel();
    private HttpResponseMessage response;

    [Parameter]
    public string Recipient { get; set; }

    private async Task SendMessage()
    {
        response = await Http.PostAsync("https://localhost:5001/api/Message/Create", new StringContent("Hi from Blazor!"));
    }

    protected override void OnInitialized()
    {
        Recipient = Recipient ?? "Bob";
    }
}
